<div class="container mt-5">
  <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="d-flex justify-content-between align-items-center mb-3">
          <input type="text" class="form-control w-25" placeholder="Search Movies..." id="searchInput"
              [(ngModel)]="searchText">
          <button class="btn btn-primary btn-lg px-4" routerLink="/add">+ Add Movie</button>
      </div>
      <div class="table-responsive">
          <table class="table table-hover align-middle table-bordered">
              <thead class="table-light">
                  <tr>
                      <th>ID</th>
                      <th>Title</th>
                      <th>Genre</th>
                      <th>ReleaseDate</th>
                      <th>Quantity</th>
                      <!-- <th>Assignee</th>
                      <th>Actions</th> -->
                  </tr>
              </thead>
              <tbody *ngFor="let movie of movies">
                  <tr>
                      <td>{{movie.id}}</td>
                      <td>{{movie.title}}</td>
                      <td>{{movie.genre}}</td>
                      <td>{{movie.releaseDate}}</td>
                      <td>{{movie.quantity}}</td>
                      <!-- <td [ngClass]="{
                          'text-danger fw-bold': task.priority == 'High',
                          'text-warning fw-bold': task.priority == 'Medium',
                          'text-success fw-bold': task.priority == 'Low'
                      }">
                          {{movie.priority}}
                      </td> -->
                      <!-- <td>{{movie.assignee?.name}}</td> -->
                      <td>
                          <button class="btn btn-outline-primary btn-sm me-2" (click)="onEdit(movie.id)">
                              <i class="bi bi-pencil-square"></i>
                          </button>
                          <button class="btn btn-outline-danger btn-sm" (click)="onDelete(movie.id)">
                              <i class="bi bi-trash"></i>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>