<!-- <div class="container text-center">
    <div class="d-flex justify-content-center">
      <div class="btn" style="--clr: #2dd9fe; --clr-glow: #00a3d5;">
        <a routerLink="/register" href="#">Register</a>
      </div>
      <div class="btn" style="--clr: #2dd9fe; --clr-glow: #e10361;">
        <a routerLink="/login" href="#">Login</a>
      </div>
    </div>
  </div> -->
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
  <div class="nav-wrapper">
    <div class="container">
        <div class="nav">
            <a href="#" class="logo">
                <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li><a routerLink="/Home" href="#">Home</a></li>
                <li><a  routerLink="/movies" href="#">Genre</a></li>
                <li><a routerLink="/movies" href="#">Movies</a></li>
                <li><a routerLink="/movies" href="#">Series</a></li>
                <li><a href="#">About</a></li>
                <li>
                    <a routerLink="/login" href="#" class="btn btn-hover siginin">
                        <span>Sign in</span>
                    </a>
                </li>
            </ul>         
        </div>
    </div>
</div>
<div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" >
      <!-- First Slide -->
      <div class="carousel-item active">
        <div class="container-fulid" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))">
            <div class="carousel-content text-light d-flex align-items-center" style="background: url('/Sliders/slider\ 10.jpg') no-repeat center/cover; height: 100vh;">
                <div class="container cardcontent" style="position: absolute; left: 5%; width: 40%;">
                  <div class="carousel-caption text-start ">
                    <h1 class="display-3 fw-bold">Stranger Things</h1>
                    <p class="lead mb-4" >Experience the thrills of Hawkins, where supernatural forces collide. Join the adventure and uncover the mysteries of the Upside Down!</p>
                    <p>
                      <span class="badge bg-danger me-3">9.5</span>
                      <span class="text-light">4 Seasons</span> <span class="text-light mx-2">|</span>
                      <span class="text-light">HD</span> <span class="text-light mx-2">|</span>
                      <span class="text-light">16+</span>
                    </p>
                    <a href="#" class="btn btn-lg mt-3 watchnow" style="background-color:#c0392b" >WATCH NOW</a>
                  </div>
                </div>
              </div>
        </div>
        
      </div>

       <!-- First Slide -->
       <div class="carousel-item active">
        <div class="container-fulid" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))">
            <div class="carousel-content text-light d-flex align-items-center" style="background: url('/Sliders/Slider\ 1.jpg') no-repeat center/cover; height: 100vh;">
                <div class="container cardcontent" style="position: absolute; left: 5%; width: 40%;">
                  <div class="carousel-caption text-start ">
                    <h1 class="display-3 fw-bold">Frozen 2</h1>
                    <p class="lead mb-4" >Join Elsa, Anna, and friends on a magical journey beyond Arendelle to uncover the secrets of their past and save their kingdom.</p>
                    <p>
                      <span class="badge bg-danger me-3">9.5</span>
                      <span class="text-light">140 mins</span> <span class="text-light mx-2">|</span>
                      <span class="text-light">HD</span> <span class="text-light mx-2">|</span>
                      <span class="text-light">16+</span>
                    </p>
                    <a href="#" class="btn btn-lg mt-3 watchnow" style="background-color:#c0392b" >WATCH NOW</a>
                  </div>
                </div>
              </div>
        </div>
        </div>
  
      
  
      <!-- Third Slide -->
      <div class="carousel-item">
        <div class="carousel-content text-light d-flex align-items-center" style="background: url('/Sliders/slider\ 11.jpg') no-repeat center/cover; height: 100vh;">
          <div class="container">
            <div class="carousel-caption text-start ">
              <h1 class="display-3 fw-bold">
                WandaVision</h1>
              <p class="lead mb-4">Step into the surreal world of Wanda and Vision as they navigate mysterious realities, blending classic sitcom charm with Marvel's thrilling twists.</p>
              <p>
                <span class="badge bg-danger me-2">9.5</span>
                <span class="text-light">120 mins</span> <span class="text-light mx-2">|</span>
                <span class="text-light">HD</span> <span class="text-light mx-2">|</span>
                <span class="text-light">16+</span>
              </p>
              <a href="#" class="btn btn-lg mt-3 watchnow" style="background-color:#c0392b" >WATCH NOW</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Fourth Slide -->
      <div class="carousel-item">
        <div class="carousel-content text-light d-flex align-items-center" style="background: url('/Sliders/slider\ 5.jpeg') no-repeat center/cover; height: 100vh;">
          <div class="container">
            <div class="carousel-caption text-start ">
              <h1 class="display-3 fw-bold">Moana 2</h1>
              <p class="lead mb-4">Set sail once more with Moana as she embarks on a new ocean adventure</p>
              <p>
                <span class="badge bg-danger me-2">9.5</span>
                <span class="text-light">200 mins</span> <span class="text-light mx-2">|</span>
                <span class="text-light">HD</span> <span class="text-light mx-2">|</span>
                <span class="text-light">16+</span>
              </p>
              <a href="#" class="btn btn-lg mt-3 watchnow" style="background-color:#c0392b" >WATCH NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>

   
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

