<!-- <div class="container text-center">
    <div class="d-flex justify-content-center">
      <div class="btn" style="--clr: #2dd9fe; --clr-glow: #00a3d5;">
        <a routerLink="/register" href="#">Register</a>
      </div>
      <div class="btn" style="--clr: #2dd9fe; --clr-glow: #e10361;">
        <a routerLink="/login" href="#">Login</a>
      </div>
    </div>
  </div> -->
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
  <div class="nav-wrapper">
    <div class="container">
        <div class="nav">
            <a href="#" class="logo">
                <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
            </a>
            <ul class="nav-menu" id="nav-menu">
                <li><a routerLink="/Home" href="#">Home</a></li>
                <li><a  routerLink="/movies" href="#">Genre</a></li>
                <li><a routerLink="/movies" href="#">Movies</a></li>
                <li><a routerLink="/movies" href="#">Series</a></li>
                <li><a href="#">About</a></li>
                <li>
                    <a routerLink="/login" href="#" class="btn btn-hover siginin">
                        <span>Sign in</span>
                    </a>
                </li>
            </ul>         
        </div>
    </div>
</div>
<div id="customCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div
      *ngFor="let slide of slides; let i = index"
      class="carousel-item"
      [class.active]="i === 0"
    >
      <div
        class="carousel-content text-light d-flex align-items-center"
        [style.backgroundImage]="'url(' + slide.imageUrl + ')'"
        style="background-size: cover; background-position: center; height: 100vh;"
      >
        <div class="container cardcontent" style="position: absolute; left: 5%; width: 40%;">
          <div class="carousel-caption text-start">
            <h1 class="display-3 fw-bold">{{ slide.title }}</h1>
            <p class="lead mb-4">{{ slide.description }}</p>
            <p>
              <span class="badge bg-danger me-3">{{ slide.badge }}</span>
              <span class="text-light">{{ slide.details }}</span>
            </p>
            <a href="#" class="btn btn-lg mt-3 watchnow" style="background-color: #c0392b">WATCH NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

