<div class="container mt-5">
  <div class="card shadow-lg p-3 mb-5 rounded" style="background-color: #34495E; color: #FFF;">
    <div class="card-body">
      <div class="d-flex justify-content-between mb-3">
        <div class="p-2 w-50">
          <input 
            type="text" 
            class="form-control" 
            [(ngModel)]="searchText" 
            placeholder="Search User..." 
            style="background-color: #2C3E50; color: #FFF; border: 1px solid #1ABC9C; font-size: 14px;"
          />
        </div>
        <div class="ml-auto p-2">
          <button 
            type="button" 
            class="btn btn-dark btn-lg px-4" 
            (click)="openAddUserPopup()"
            style="background-color: #27AE60; color: white; border-radius: 6px; font-size: 14px; padding: 8px 16px; transition: 0.3s ease;"
            (mouseover)="hoverBtn = true" 
            (mouseleave)="hoverBtn = false"
          >
            New User
          </button>
        </div>
      </div>

      <table class="table table-hover align-middle table-bordered" style="background-color: #2C3E50; font-size: 14px;">
        <thead style="background-color: #1ABC9C; color: #FFF;">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" style="color: #FFF;">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button 
                class="btn btn-outline-light btn-sm me-2" 
                (click)="onEdit(user.id)" 
                style="border-radius: 4px; font-size: 14px; transition: 0.3s ease;"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button 
                class="btn btn-outline-danger btn-sm" 

                style="border-radius: 4px; font-size: 14px; transition: 0.3s ease;"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Add User Popup -->
 
</div>
