<div class="container mt-4">
  <h2 class="text-center mb-4 text-light">Your Favourite Movies</h2>
  <ng-template #noFavourites>
    <div class="text-center text-warning">
      <p>You have no favourite movies yet.</p>
    </div>
  </ng-template>
  <div class="row justify-content-center">
    <div
      *ngFor="let favourite of favourites"
      class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4"
    >
      <div class="movie-card position-relative overflow-hidden shadow-lg card-hover">
        <img
          [src]="favourite.imageUrl || 'assets/placeholder.jpg'"
          class="movie-image"
          alt="{{ favourite.title }}"
        />
        <div class="movie-title bg-danger">
          {{ favourite.title }}
        </div>
        <div class="movie-details text-center text-light d-flex flex-column justify-content-center">
          <p class="mb-1 text-light">{{ favourite.category }}</p>
          <p class="fw-bold text-success mb-2">
            Price: {{ favourite.price | currency: 'USD' }}
          </p>
          <button
            class="btn btn-outline-light btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#viewMoreModal"
          
          >
            View More
          </button>
          <button
            class="btn btn-outline-danger btn-sm mt-2"
            (click)="removeFavourite(favourite.id)"
          >
            Remove
          </button>
        
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="favourites.length === 0" class="text-center text-warning">
    <p>You have no favourite movies yet.</p>
  </div>
</div>
